@using ElsaMina.Core.Utils
@inherits ElsaMina.Core.Services.Templates.LocalizableTemplatePage<ElsaMina.Commands.Arcade.Sheets.ArcadeHallOfFameViewModel>

@{
    const string tableStyle = "border-collapse: collapse; width: 100%;";
    const string tdthStyle = "border: 1px solid #68A; text-align: left; padding: 4px;";
    const string headerRowStyle = "border: 1px solid #68A; text-align: center; padding: 0px; height: 1px; background-color: rgba(102,136,170,0.45); font-style: italic;";
    const string headerStyle = "border: 1px solid #68A; text-align: center;";
}

<div style="@(Model.RoomMode ? "max-height: 250px; overflow-y: auto;" : "")">
    <span style="font-size: 1.2em; font-weight: bold;">Arcade's Hall of Fame</span>

    @if (Model.TotalPages > 1)
    {
        <div style="margin: .5rem 0;">
            @if (Model.Page > 1)
            {
                <button class="button" name="send" value="/w @Model.BotName,@(Model.Trigger)arcadehof @(Model.Page - 1)">←</button>
            }
            <span style="margin: 0 .5rem;">@Model.Page / @Model.TotalPages</span>
            @if (Model.Page < Model.TotalPages)
            {
                <button class="button" name="send" value="/w @Model.BotName,@(Model.Trigger)arcadehof @(Model.Page + 1)">→</button>
            }
        </div>
    }

    <table style="@tableStyle">
        <thead>
        <tr style="@headerRowStyle">
            <th style="@headerStyle">Rang</th>
            <th style="@headerStyle">Pseudo</th>
            <th style="@headerStyle">Points</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in Model.Entries)
        {
            if (string.IsNullOrEmpty(entry.UserName))
            {
                continue;
            }

            <tr style="@($"{tdthStyle}")">
                <td style="@tdthStyle">
                    @entry.Rank
                </td>
                <td style="@tdthStyle">
                    <b style="color:@entry.UserName.ToColorHexCodeWithCustoms()">
                        @entry.UserName
                    </b>
                </td>
                <td style="@tdthStyle">
                    @entry.Points
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
